html,
body {
    height: 100%;
}

/* ヘッダー　*/
.header {
    background-color: #ffffff;
    margin: auto;
    padding :10px 30px;
}

.header__heading {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    font-family: Georgia;
    color: #f6cd15;

}
